@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { 			/*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;				/*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}
/*防止多行文本框拖动*/

img {
    border: 0;
    vertical-align: middle;
}
/*  去掉图片低测默认的3像素空白缝隙*/

table {
    border-collapse: collapse;			/*合并外边线*/
}


body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";	/*宋体，Unicode，统一码*/
    color: #666;
    background: #fff
}
/*谷歌不支持12号以下的字体*/

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
/*清除浮动*/
.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}
/*最高权限important*/

/*公共类*/
.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}


/*site-nav部分开始*/
.site-nav {
    height: 30px;
    line-height: 30px;
    background-color: #F1F1F1;
}
/*y设置小三角的样式，共用同一段代码*/
.site-nav-send,
.site-nav-r .fore{
    position: relative;
    padding: 0 25px 0 5px;
}
.site-nav-send:hover{
    background-color: white;
}
.site-nav-send i,
.fore i {
    position: absolute;
    top: 12px;
    right: 8px;
    width: 15px;
    height: 7px;
    font: 400 13px/15px "consolas";
    overflow: hidden;
}
/*小三角图标，由上下两个样式完成*/
.site-nav-send s,
.fore s{
    font: 400 13px/15px "consolas";
    position: absolute;
    top: -7px;
    /*行内元素不能设置上下margin，这里不能直接用margin-top，但可以使用display:block*/
}
/*site-nav部分结束*/

.site-nav-r li{
    padding: 0 10px;
    float: left;
}
.site-nav-r .line{
    width: 1px;
    height: 12px;
    background-color: #DDDDDD;
    /*由于padding可以继承背景，所以用margin*/
    margin-top: 9px;
    padding: 0px; /*由于在样式site-nav-r li中将所有的li元素设置成左右padding为10，还要考虑选择器的优先级，如标签，类等
！import的权限是最大的。权限可以叠加，如.site-nav-r li为11（10+1），.site-nav-r .line为20（10+10）*/
}
.site-nav-r .jd-tel {
    padding-left: 25px;
}
.jd-tel span {
    /*开启绝对定位会将行内元素变成块元素*/
    position: absolute;
    width: 15px;
    height: 20px;
    top: 5px;
    left: 9px;
    background: url("../images/tel.png") no-repeat;
}

.top-banner {
    background-color: #EB6595;
}
.tb {
    position: relative;
}
.close-banner {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 19px;
    height: 19px;
    background: url("../images/close-banner.png") no-repeat;
}

/*巧妙地改变了背景图的位置*/
.close-banner:hover {
    background-position: bottom;
}

.search-logo{
    float: left;
    height: 60px;
    width: 362px;
    padding: 20px 0;
    background-color: pink;
}
.search-logo a {
    display: block;
    width: 270px;
    height: 60px;
    /*text-indent 属性规定文本块中首行文本的缩进。*/
    text-indent: -99999em;
    background: url("../images/logo.png") no-repeat;
}

.search-input{
    float: left;
    /*width: 538px;*/
    height: 36px;
    padding-top: 25px;
    /*background-color: blue;*/
}
.search-input input{
    float: left;
    width: 448px;
    height: 32px;
    /*输入框中留出4px的空白，文字编辑部分应该为内容区，红色的为border*/
    padding-left: 4px;
    /*400为正常粗细*/
    font: 400 14px/32px "microsoft yahei";
    color: rgb(153, 153, 153);
    border: 2px solid #B61D1D;
    /*清空右边框，方便后面的操作*/
    border-right: 0;
}
.search-input button {
    width: 85px;
    height: 36px;
    color: #fff;
    font: 400 16px/36px "microsoft yahei";
    background-color: #B61D1D;
    cursor: pointer;/*变成小手*/
}
.search-car{
    position: relative;
    float: right;
    width: 96px;
    height: 34px;
    line-height: 34px;
    padding-left: 43px;
    margin: 25px 65px 0 0;
    border: 1px solid #DFDFDF;
    background-color: #F9F9F9;
}
.icon1 {
    position: absolute;
    top: 9px;
    left: 18px;
    height: 16px;
    width: 18px;
    background: url(../images/tel.png) no-repeat 0 -58px;
}
.icon2 {
    position: absolute;
    right: 10px;
    color: #999;
    font-family: "SimSun";

}


.search-moreAlink{
    float: left;
    width: 530px;
    height: 28px;
    background-color: pink;
}
